[buildout]
extends = config.cfg
extensions = mr.developer
parts =
    server
    terms-config
    createdb
    supervisor

eggs =
    terms.server[PG]
    ${config:plugins}

sources = sources
auto-checkout =
    terms.server
    collective.recipe.template
    colanderalchemy
    ${config:plugins}

versions = versions

[sources]
terms.server = git git://github.com/enriquepablo/terms.server.git
collective.recipe.template = git git://github.com/enriquepablo/collective.recipe.template.git
colanderalchemy = git git://github.com/stefanofontanelli/ColanderAlchemy.git [rev=1458586ce9f537640398d2d8ab48fb9dd8504c79]

[server]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    ${config:plugins}

[terms-config]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/terms.cfg.in
output = ${buildout:directory}/etc/terms.cfg

[createdb]
recipe = plone.recipe.command
command = createdb ${config:dbname}

[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
port =
serverurl =
programs =
    10 terms-serve ${buildout:directory}/bin/webserver [-C ${terms-config:output} ] true

[versions]
Chameleon = 2.14
colander = 1.0b1
collective.recipe.supervisor = 0.19
greenlet = 0.4.2
MarkupSafe = 0.18
meld3 = 0.6.10
mr.developer = 1.28
peppercorn = 0.4
plone.recipe.command = 1.1
psycopg2 = 2.4.5
superlance = 0.9
supervisor = 3.0
translationstring = 1.1
WebOb = 1.3.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1
zope.deprecation = 4.1.0
zope.interface = 4.1.0
